#about .mask {
  @apply relative;
}
#about .mask > div {
  @apply relative;
  max-width: 530px;
  width: 80%;
  margin: auto;
  padding-top: 71%;
  background:  url('./images/about.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  mask: url("./images/mask.svg") no-repeat center center;
  mask-size: contain;
}

#about .mask > .image-color {
  @apply absolute left-1/2 top-0 transform -translate-x-1/2;
  background-image: url("./images/about.jpg");
  z-index: 2;
}

#about .mask > .image-blur {
  @apply absolute left-1/2 top-0 transform -translate-x-1/2 scale-[112%];
  mask: url("./images/maskBlur.svg") no-repeat center center;
  mask-size: cover;
  filter: blur(0.5rem);
  z-index: 1;
}

@screen md {
  #about .mask > .image-blur  {
    max-width: 100%;
    @apply scale-[110%];
  }
}

@screen 2xl {
  #about .mask > .image-blur  {
    @apply scale-[101%];
  }
}