
.banner {
  @apply relative mx-auto mt-3 rounded-2xl bg-no-repeat bg-cover bg-center px-2;
  height: 80vh;
  width: calc(100% - (0.75rem * 2));
  background-image: url(./images/banner.jpg);
  z-index: -2;
}

.banner .card {
  @apply rounded-md;
  width: 100%;
  padding: 12px;
  background: radial-gradient(214.07% 129.74% at -8.24% 95.57%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  font-weight: 500;
}

.slogan {
  @apply opacity-80;
  font-family: 'Kameron', serif;
  font-size: 50px;
  color: #fff;
}


@screen md {
  .banner {
    height: 90vh;
  }
  .banner .card {
    @apply rounded-xl;
    width: 315px;
    padding: 20px;
  }
  .slogan{
    font-size: 65px;
  }
}