#companies {
  @apply relative;
}
#companies::after {
  @apply absolute left-1/4 top-96 transform -translate-y-1/2 hidden;
  content: '';
  width: 100%;
  padding-top: 80%;
  background-image: url('./images/rigt gradient ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
#companies::before {
  @apply absolute right-0 top-3/4 transform -translate-y-1/2 hidden;
  content: '';
  width: 100%;
  padding-top: 80%;
  background-image: url('./images/left gradient ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

#companies .card {
  @apply relative rounded-xl ease-in duration-300 drop-shadow-md;
  background: #fff;
}
#companies .card::after{
  content: '';
  @apply block w-full;
  padding-top: 130%;
  
}
#companies .card > div {
  @apply absolute;
}

#companies .card .companies-logo {
  @apply left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2 ease-in duration-300;
  width: 60%;
  margin: auto;
}

#companies .card .companies-info {
  @apply left-0 bottom-0 w-full h-full px-4 pb-12 opacity-0 ease-in duration-300;
}
#companies .card .companies-info::after{
  content: '';
  @apply rounded-br-xl rounded-bl-xl absolute left-0 bottom-0 block w-full h-4 bg-main;
}
#companies .card .companies-website {
  width: 48px;
  height: 48px;
  background-color: theme('colors.subMain');
}

#companies .card:hover{
  background: #fff;
}

#companies .card:hover .companies-logo{
  @apply opacity-0;
} 
#companies .card:hover .companies-info{
  @apply opacity-100;
}

@screen sm {
  #companies::after {
    @apply  left-1/4 top-96 transform -translate-y-1/2 opacity-100 block;
    width: 100%;
    padding-top: 80%;
  }
  #companies::before {
    @apply  right-0 top-3/4 transform -translate-y-1/2 opacity-100 block;
    width: 100%;
    padding-top: 80%;
  }
  #companies .card {
    background: radial-gradient(214.07% 129.74% at -8.24% 95.57%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }
}

@screen md {
  #companies .card::after{
    padding-top: 130%;
  }
}
@screen xl {
  #companies::after{
    @apply left-1/3 top-2/3 -translate-y-1/2;
    width: 70%;
    padding-top: 70%;
  }
  #companies::before {
    @apply  right-1/3 top-2/3 -translate-y-1/2;
    width: 70%;
    padding-top: 70%;
  }
  #companies .card::after{
    padding-top: 160%;
  }
}

@screen 2xl {
  #companies .card::after{
    padding-top: 130%;
  }
}