#contact{
  @apply rounded-t-3xl;
  background-color: theme(colors.main.dark);
  color: #fff;
  background: url(./images/earth.png), linear-gradient(102.48deg, #1B3053 20.12%, #2F528A 52.5%, #203860 76.89%);
  background-repeat: no-repeat;
  background-position: left -49vw top 17%, 0;
}

#contact input,
#contact textarea {
  @apply w-full leading-10 rounded mb-4 px-4;
  background: rgba(12, 32, 66, 0.4);
  border: 1px solid #FFFFFF;
}
#contact input:focus-visible,
#contact textarea:focus-visible{
  outline: theme(colors.subMain) auto 1px;
}

#contact .submit {
  @apply w-full leading-10 rounded mb-4 py-2 font-semibold;
  background: linear-gradient(270deg, #FBC8BA 0%, #8ABFFF 100%);
  color: theme(colors.main.DEFAULT);
}

#mycanvas {
  cursor: pointer;
  text-align: center;
}

#vad-group.error input{
  @apply !border-rose;
}
#vad-group.error span {
  @apply block;
}

@screen md {
  #contact{
    background-position: left -13vw top 17%, 0;
  }
}

@screen lg {
  #contact{
    background-position: left 0 top 17%, 0;
    
  }
}

@screen xl {
  #contact{
    background-position: left 0 top 17%, 0;
  }
}
@screen 2xl {
  #contact{
    background-position: left 11vw top 17%, 0;
  }
}
