.navbar {
  @apply absolute top-10 left-0 w-full px-8;
}
nav > a {
  @apply relative block ease-in-out duration-300 text-main-dark;
  font-weight: 500;
}
nav > a::after {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full opacity-0 ease-in-out duration-300 blur-xl rounded-full;
  content: '';
  padding-top: 100%;
  background: linear-gradient(172.43deg, theme('colors.subMain') 38.91%, #EBF3FF 141.43%);
  z-index: -1;
}
nav > a:hover {
  @apply text-main;
}
nav > a:hover::after {
  @apply opacity-80;
}

@screen sm {
  .navbar {
    @apply px-10;
  }
}