#service .mask {
  @apply relative;
}
#service .mask > div {
  @apply relative ease-in duration-300;
  width: 100%;
  margin: auto;
  padding-top: 90%;
  background:  var(--imageGrayscale);
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  mask: url("./images/mask.svg") no-repeat center center;
  mask-size: contain;
}

#service .mask > .image-color {
  @apply absolute left-1/2 top-0 transform -translate-x-1/2;
  background-image: var(--imageColor);
  z-index: 2;
}

#service .mask > .image-blur {
  @apply absolute left-1/2 top-0 transform -translate-x-1/2 scale-[110%] ease-in duration-300;
  mask: url("./images/maskBlur.svg") no-repeat center center;
  mask-size: cover;
  filter: blur(0.5rem);
  z-index: 1;
}

#service .grid > div:hover .mask > .image-color{
  @apply scale-105;
}

#service .grid > div:hover{
  color: theme('colors.main.DEFAULT');
}
