- var i18n = importI18nJSON(LANG)

doctype html
html.scroll-smooth(lang=i18n.website.lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=i18n.website.description)
    meta(hid="og:title", property="og:title", content=i18n.website.title)
    meta(hid="og:description", property="og:description", content=i18n.website.description)
    meta(property="og:site_name", content=i18n.website.title)
    meta(property="og:locale", content=i18n.website.lang)
    link(rel='apple-touch-icon' sizes='180x180' href='./images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon-16x16.png')
    link(rel='manifest' href='./images/site.webmanifest')
    
    title=i18n.website.title
  body#home.overflow-x-hidden.w-full(class=i18n.website.lang=== "zh-TW" ? "zh" : "en")
    #page-load(style="position: fixed; top:0; left: 0; width:100vw; height:100vh; background-color: #FFF9F0; z-index: 40;")
      .absolute(class="top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2")
        .sk-chase
          .sk-chase-dot
          .sk-chase-dot
          .sk-chase-dot
          .sk-chase-dot
          .sk-chase-dot
          .sk-chase-dot
      img.inline-block(src="./images/logo.svg", alt=i18n.website.title style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) ")
    .navbar
      .container.flex.justify-between.items-center
        .logo.w-24(class="sm:w-28  md:w-32")
          img.inline-block(src="./images/logo.svg", alt=i18n.website.title)
        nav.flex.space-x-7
          a(class="hidden md:inline" href="#about")=i18n.nav.about
          a(class="hidden md:inline" href="#companies")=i18n.nav.companies
          a(class="hidden md:inline" href="#service")=i18n.nav.service
          a(href="#contact")=i18n.nav.contact
          a(href=i18n.website.lang=== "zh-TW" ? "/neil-group/en" : "/neil-group")=i18n.nav.language
    .banner
      .container.px-4.h-full
        .flex.justify-end.h-full.flex-col.pb-6(class="md:flex-row md:justify-between md:items-end")
          h1.slogan.leading-tight.pb-3(class="md:pb-0 md:leading-none")=i18n.slogan
          .card
            svg.w-6.h-6.fill-main-dark.stroke-main-dark(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor')
              path(d='M15.75 8.25a.75.75 0 01.75.75c0 1.12-.492 2.126-1.27 2.812a.75.75 0 11-.992-1.124A2.243 2.243 0 0015 9a.75.75 0 01.75-.75z')
              path(fill-rule='evenodd' d='M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM4.575 15.6a8.25 8.25 0 009.348 4.425 1.966 1.966 0 00-1.84-1.275.983.983 0 01-.97-.822l-.073-.437c-.094-.565.25-1.11.8-1.267l.99-.282c.427-.123.783-.418.982-.816l.036-.073a1.453 1.453 0 012.328-.377L16.5 15h.628a2.25 2.25 0 011.983 1.186 8.25 8.25 0 00-6.345-12.4c.044.262.18.503.389.676l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.575 15.6z' clip-rule='evenodd')
            p.text-sm.text-main-dark(class="mt-2.5 md:text-base")=i18n.banner 
    #about
      .container.px-4
        .grid.pt-14(class="md:grid-cols-2 md:pt-20")
          .mask.mb-14(class="md:mb-0")
            .image-grayscale
            .image-color
            .image-blur
          div.px-4
            h2.title(class=i18n.website.lang=== "zh-TW" ? "" : "md:!text-5xl")=i18n.about.title
            p.whitespace-pre-line=i18n.about.info
    #companies
      .container.px-8.py-20(class="md:pt-28")
        h2.title(class=i18n.website.lang=== "zh-TW" ? "" : "md:!text-5xl")=i18n.companies.title
        .grid.mt-14(class="sm:grid-cols-2 xl:grid-cols-4 md:mt-20 gap-11")
          each val in i18n.companies.item
            .card 
              .companies-logo
                img.w-full(src=val.logo, alt=val.name)
              .companies-info
                .flex.flex-col.h-full(class=val.website ? "justify-between" : "justify-end")
                  if val.website
                    a.companies-website.flex.justify-center.content-center.rounded-md.mt-4(href=val.website target="_blank") 
                      svg.w-6.h-6.m-auto(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25')
                  p(class=i18n.website.lang=== "zh-TW" ? "" : "sm:!text-lg")=val.info
          
    #service
      .container.px-8.pt-20.relative(class="md:pt-28")
        h2.title(class=i18n.website.lang=== "zh-TW" ? "" : "md:!text-5xl")=i18n.service.title
        .grid.mt-14(class="sm:grid-cols-2 xl:grid-cols-3 md:mt-20 gap-11")
          each val in i18n.service.item
            - var imageGrayscale = val.images.color
            - var imageColor = val.images.color
            .pt-10.px-4(class="xl:px-16")
              .mask.mb-8(style={'--imageGrayscale': `url(${imageGrayscale})`, '--imageColor': `url(${imageColor})`} )
                .image-grayscale
                .image-color
                .image-blur
              h3.title.text-center.text-3xl.mb-4=val.title
              p(class=i18n.website.lang=== "zh-TW" ? "" : "sm:!text-lg")=val.info
        
    footer#contact.mt-40
      .container.px-8.py-16
        h2.title(class=i18n.website.lang=== "zh-TW" ? "" : "md:!text-5xl")=i18n.contact.title
        .grid.pt-10(class="md:grid-cols-2 md:pt-14")
          div.mb-10 
            p.pb-2 #{i18n.contact.email} :info@phingp.com
            p.pb-2 #{i18n.contact.phone.name} : #{i18n.contact.phone.info}
          div
            p.mb-4=i18n.form.info
            form#contactForm(action="")
              .grid(class="md:grid-cols-2 md:gap-4")
                input(type='text' name='name' required placeholder=i18n.form.name+'*')
                input(type='text' name='phone' required placeholder=i18n.form.phone+'*')
              input(type='mail' name='email' required autocomplete="email" placeholder=i18n.form.email+'*')
              textarea(type='text' name='content' rows="5" required placeholder=i18n.form.comment+'*')
              .flex.content-center.items-start
                .pr-4
                  canvas#canvas.flex-auto(width='150' height='40')
                  p.py-2(class="!text-xs")=i18n.form.refresh
                .w-full#vad-group
                  input#vad(class="!mb-1" type='text' name='vad' placeholder=i18n.form.verification+'*')
                  span.hidden.text-rose.text-sm=i18n.form.enter_again
              button.submit(type="submit")=i18n.form.submit
              p#submit-success.text-sm.text-center.hidden=i18n.form.submit_success
              p#submit-error.text-sm.text-rose.text-center.hidden=i18n.form.submit_error
        small=`Copyright © 2022 ${i18n.website.copyright}. All rights reserved.`
    .fixed.bottom-8.right-8.z-30
      a.goTop(href="#home")
    
          
      
