@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Noto+Sans+TC:wght@300;400&family=Nunito:wght@400;500&display=swap');

@import './css/navbar.css';
@import './css/banner.css';
@import './css/about.css';
@import './css/companies.css';
@import './css/service.css';
@import './css/contact.css';

#page-load.isHidden {
  animation: hidden 1s ease-in-out forwards;
}
@keyframes hidden {
  0 { opacity: 1; transform: translateY(0);}
  50% {opacity: 0; transform: translateY(0);}
  100% { opacity: 0; transform: translateY(-100%);} 
}

.sk-chase {
  width: 100px;
  height: 100px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  @apply opacity-20;
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: theme('colors.subMain');
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

body{
  @apply text-main-dark;
  background: #FFF9F0;
  font-weight: 400;
}

p {
  @apply text-base leading-7;
  font-weight: 400;
}

h2.title {
  @apply text-3xl my-4;
  font-weight: 500;
  font-family: 'Kameron', 'Noto Sans TC', serif;
}

.goTop{
  @apply rounded-full block;
  width: 45px;
  height: 45px;
  background-color: theme('colors.main.DEFAULT');
}
.goTop::after{
  content: '';
  @apply block m-auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 20px;
  height: 45px;
  background-image: url( "./images/top.svg" );
}

@screen md {
  h2.title {
    @apply text-4xl;
  }
}

@screen xl {
  p {
    @apply text-xl;
  }
}